body {
    background-color: #519657;
    box-sizing: border-box;
}

#container {
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

nav {
    background-color: #b2fab4;
    padding-left: 20px;
    padding-right: 20px;
    top: 0;
    z-index: 100;
}

@media only screen and (min-width: 877px) {
    nav {
        position: sticky;
        position: -webkit-sticky;
    }
}

main {
    background-color: #81c784;
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    min-height: 450px;
}

footer {
    background-color: #b2fab4;
    text-align: center;
}

nav a:active {
    background-color: yellow;
}

nav a:visited {
    text-decoration-style: double;
}

nav a {
    color: black;
}

nav table {
    border: 2px solid black;
    padding: 5px;
    margin: auto;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

nav td {
    border: 2px solid black;
    padding: 20px;
    margin-left: 20px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a[href^="mailto:"] {
    text-decoration: underline;
    text-decoration-color: red;
}

a[download] {
    text-decoration-line: underline;
    text-decoration-style: double;
}

.mydropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: navajowhite;
    min-width: 100px;
    box-shadow: 10px 10px 5px dimgrey;
    z-index: 1;
}

.mydropdown:hover .dropdown-content {
    display: block;
}

.list-group-item {
    background-color: #d2d472;
}

.nav-pills .nav-link.active {
    color: blue;
    background-color: yellow;
}

.nav-tabs {
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
    font-size: 120%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.jumbotron {
    background-color: yellow;
}